*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
}
.big_box{
    background-image: url(/share/image/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 729px;
}

.header{
    display: flex;
    width: 100%;
}
.header .name_brand{
    width: 60%;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    color: white;
 
}
.header .menu .list {
    display: flex;
    margin: 10px;
}
.header .menu .list li  {
    font-size: 18px;
    display: flex;
    margin-right: 40px;
    padding-top: 10px;
    color: white;
    
}
main{
   width: 100%;
   text-align: center;
   padding-top: 100px;
   padding-left: 324px;
   padding-right: 324px;
   color: white;
}
main .mid_main .contact a{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 60px;
    border: 1.6px solid white;
    color: white;
    position: relative;
}
main .mid_main .contact a span{
    position: absolute;
    top:14px;
    left: 47px;          
}
main .mid_main .contact a:hover span{
   color: black;        
}
main .mid_main .contact a:hover {
    background-color: white;         
}

main .mid_main .circle i{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 30px;
}
